.cajaTexto{
    margin-left: 50px;
    width: 242px;
    height: 34px;
    background: transparent;
    border: 1px solid #ffffff;
}
.svg-inline--fa.fa-w-18{
    width: 1em;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}